html, body {
  overflow-x: hidden;
}

/*Overlays rgba on background img */
body {
  background-blend-mode: multiply;
  background: url("https://images.pexels.com/photos/3735648/pexels-photo-3735648.jpeg?cs=srgb&dl=pexels-polina-tankilevitch-3735648.jpg&fm=jpg") rgba(255,165,0,50%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: Georgia;
  position: relative;
}

/* NAV --------------------------------------------- */

/*wraps navbar on header img*/
header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(210,105,30);
}

/*Reduce img src to logo scale*/
#header-img {
  height: 5%;
  width: 5%;
  padding: 20px;
}

/* Pads the navigation bar */
nav {
  padding-top: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link 
.topnav a.active {
  background-color: #4CAF50;
  color: white;
} */

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
    font-size: 20px;
    padding: 0px 0px;
  }
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .topnav a, .topnav-right {
  font-size: 20px;
  }
}

/* MAIN ---------------------------------------------*/

main {
  text-align: center;
}

section {
   /* activate to view section dimensions
  background-color: purple;*/
  margin-top: 40px; 
}

/* section sizing */
.sm-section {
  min-height: 33vh;
}

.md-section {
  min-height: 66vh;
}

.lg-section {
  min-height: 99vh;
}

@media screen and (max-width: 600px) {
  section {
    margin: auto;
    height: auto;
    width: 100%;
    padding-top: none;
    min-height: none;
  }
}

/* PRODUCT SECTION ------------------------------------- */

/* Style product section */
#product-section {
  padding-bottom: 40px;
  padding-top: 20px;
  background-color: rgb(255,255,255,60%);
}

/* Set product grid for staggered effect */
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-content: space-evenly;
}

/* Style the product labels */
.product-label {
  color: #4a2c2a;
  font-size: 35px;
  font-weight: bold;
}

/* Style the product subtitles */
.subtitle {
  font-size: 15px;
  color: #2C1608;
  padding-left: 120px;
}

/* Scaling image down */
.product-image {
  height: 50%;
  width: 20%;
  margin-right: 40px;
}

/* Staggered row effect */
#bean-cont {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}


/* Staggered row effect */
#accessories-cont {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

/* Staggered row effect */
#spa-cont {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

@media only screen and (max-width: 600px) {
  .product-image {
    height: 40%;
    width: 30%;
  }
  .subtitle {
    padding-left: 0px;
    font-size: 10px;
  }
  .product-label {
    font-size: 25px;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .grid-container {
    display: inline-block;
  }
}

/* PROCESS SECTION ---------------------------------------*/

#process-section {
  padding-bottom: 40px;
  padding-top: 20px;
  text-align: center;
}

.videoWrapper {
  width: 100%;
  height: auto;
}

.video {
  max-width: 100%;
}

/* LEARN MORE SECTION ---------------------------------- */

/* Styling learn more section */
#learnMore-section {
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}

/* form block style */
#thumbnail {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: rgb(0, 0, 255);
  }
 
/* form block */
  .fullCard {
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 20px;
    margin: auto;
    background-color: rgb(150,67,21,80%);
    color: white;
  }

/* Input field style */
.stretch-field {
  display: flex;
  margin-top: 10px;
  padding: 0px;
  width: 100%;
  height: 30px;
}

/* Form field style */
.field-title {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

/* Section desc. style */
#email-description {
  font-size: 35px;
  color: white;
}

/* form submit button */
.submit-layout {
  height: 35px;
  width: 70px;
}

/* Media mobile sizing to fit form container in view */
@media only screen and (max-width: 600px) {
  .fullCard {
    width: 75%;
    margin: auto;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .fullCard {
    width: 75%;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .fullCard {
    width: 75%;
  }
}

/* SIGN-OFF --------------------------------------------*/

/*designed by & contact*/
#contact-section {
  color: white;
  text-align: center;
  min-height: 33vh;
}

.contact-links {
  height: auto;
  width: 25%;
  display: inline-block;
  padding: 20px;
}

.link-cont {
  float: left;
  width: 25%;
}

.contact-img {
  height: 75px;
  width: 75px;
}

#git-logo {
  height: 75px;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .contact-links {width: 100%;}
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .contact-links {width: 100%;}
}

@media screen and (max-width: 1000px) {
  .contact-links {width: 100%;}
}